*{
    margin: 0;
    padding: 0;
}
.top{
    height: 70px;
    background-color: black;
    color: aqua;
    display: block;
}
.top ul li{
    display: inline-block;
    margin: 20px 14px;
    font-size: 25px;

}
.red{
    background-color: red;
    display: inline-block;
    height: 90vh;
    width: 50%;
}
.green{
    background-color: green;
    display: inline-block;
    height: 90vh;
    width: 50%;
}
.footer{
    text-transform:capitalize;
    text-align: center;
    background-color: brown;
    font-size: 30px;
}