*{
    margin: 0;
    padding: 0;
}
.red{
    background-color: red;
    color: white;
    height: 44px;
}
.green{
    background-color: green;
    color: aqua;
}
.body{
    height: 344px;
    width: 744px;
    border: 2px solid red;
    color: white;
    /* background-image: url('AKKI.jpg'); */
    /* background-repeat: no-repeat;
    background-size: auto;
    background-position: top center; */
    background: red url('AKKI.jpg') no-repeat top center;
}
